<style lang="stylus" scoped="">
.news_list 
  width : 1100px
  margin: 0 auto
  .news_item
    padding: 15px
    display: flex
    &:hover
      box-shadow 0px 17px 81px 0px rgba(75,75,75,0.14)
    .news_brief_img
      width : 367px
      min-width : 367px
      height: 285px
      background-color: #eee
      background-position: center
      background-size: cover
    .news_brief
      padding: 25px
      position: relative
      width: 100%
      .news_brief_title
        font-size: 23px
        line-height: 1
        padding-bottom: 21px
      .news_brief_text
        font-size: 16px
        line-height: 30px
        color: #717188
        max-height: 156px
        overflow: hidden
        height: 156px
        text-overflow: ellipsis

.time_tag
  display: flex
  align-items: center
  font-size: 16px
  bottom: 15px
  .time_icon
    width: 17px
    height: 17px
    background-size: cover
    background-position: center
    background-image: url('../assets/images/时间@2x.png')
  .time_text
    padding-left: 10px
    color: #AAAAB8

.load_btn
  border: 1px solid #3B72F6
  display: flex
  line-height: 48px
  padding: 0px 50px
  color: #3B72F6
  cursor: pointer

.flex_center
  display: flex
  align-items: center
  justify-content: center
  margin-top: 20px

.news_item_title
  font-size: 44px
  line-height: 1

.news_item
  padding-top: 68px
  .time_tag_ct
    padding-top: 25px
    padding-bottom: 30px
    .time_tag
      position: relative
      bottom: auto

.news_item_brief
  color: #353556
  background-color: #FAFAFA
  padding: 30px 23px
  font-size: 16px
  line-height: 30px

  color #353556cf
  background-color #ececec6b
  padding 30px 23px
  font-size 16px
  line-height 30px
  border 1px solid #eeeeee47

@media (max-width: 800px)
  .comm_width
    padding 10px
    width auto 
    padding-top 40px
    .news_item_title
      font-size 26px
      line-height 30px
</style>
<template>
  <div>
    <div class="comm_width news_item" v-if="news_item">
      <!-- {{ news_item }} -->
      <div class="news_item_title" v-html="news_item.title">
      </div>

      <div class="time_tag_ct">
        <div class="time_tag">
          <div class="time_icon"></div>
          <div class="time_text">{{ news_item.create_time.split(' ')[0] }}</div>
        </div>
      </div>

      <div class="news_item_brief">
        {{ news_item.brief }}
      </div>

      <div>
        <show_text :value="news_item.description"></show_text>
      </div>

      <div class="flex_center">
        <router-link :to="{'name': 'news'}" class="load_btn">
          返回新闻动态
        </router-link>
      </div>

    </div>
  </div>
</template>
<script>
import show_text from '@/components/show_text.vue'
export default {
  data () {
    return {
      description: ''
    }
  },
  computed: {
    news_item () {
      return this.$store.state.news.news_list.find(i => i.id == this.$route.params.news_id);
    }
  },
  methods: {

  },
  mounted () {

  },
  components: {
    show_text
  }
}
</script>