<style  lang="stylus" scoped="">
.news_list 
  width : 1100px
  margin: 0 auto
  margin-top 60px
  .news_item
    padding: 15px
    display: flex
    &:hover
      box-shadow 0px 17px 81px 0px rgba(75,75,75,0.14)
    .news_brief_img
      width : 367px
      min-width : 367px
      height: 285px
      background-color: #eee
      background-position: center
      background-size: cover
    .news_brief
      padding: 25px
      position: relative
      width: 100%
      .news_brief_title
        font-size: 23px
        line-height: 1
        padding-bottom: 21px
      .news_brief_text
        font-size: 16px
        line-height: 30px
        color: #717188
        max-height: 156px
        overflow: hidden
        height: 156px
        text-overflow: ellipsis

.time_tag
  display: flex
  align-items: center
  font-size: 16px
  bottom: 15px
  position: absolute
  .time_icon
    width: 17px
    height: 17px
    background-size: cover
    background-position: center
    background-image: url('../assets/images/时间@2x.png')
  .time_text
    padding-left: 10px
    color: #AAAAB8



.flex_center
  display: flex
  align-items: center
  justify-content: center
  margin-top: 20px

.load_btn
  border: 1px solid #3B72F6
  display: flex
  line-height: 48px
  padding: 0px 50px
  color: #3B72F6
  cursor: pointer

.top_title_ct
  background-color #3B72F6
  height 468px
  .comm_width
    position relative
    height 100%
    display flex
    align-items center
    justify-content center
    h1
      color #fff
      font-size 52px

.base_cubic
  background-image url('../assets/images/points_in_rectancle.jpg')
  background-size 183px 202px
  opacity 0.6
  height 190px
  width 180px
  position absolute

.cubic_1
  left 0px
  top 68px

.cubic_2
  bottom 0px
  right 0px

@media (max-width: 800px)
  .news_list
    width auto
    margin-top 0px
    .news_item
      flex-wrap wrap
      border-bottom 1px solid #00000014
      padding-bottom 0px
      .news_brief_img
        min-width auto
        width 100%
      .news_brief
        padding 15px 0px
        .time_tag
          position relative
          bottom auto
          margin-top 15px
        .news_brief_title
          line-height 30px
          padding-bottom 10px
        .news_brief_text
          height auto

@media (max-width: 800px)
  .top_title_ct
    height 200px
    overflow hidden

</style>
<template>
  <div>
    <div class="top_title_ct">
      <div class="comm_width">
        <h1>新闻动态</h1>
        <div class="base_cubic cubic_1"></div>
        <div class="base_cubic cubic_2"></div>
      </div>
    </div>

    <div class="news_list">

      <router-link :to="{'name': 'news_item', params: {'news_id': item.id}}" v-for="item, index in news" :key="index" v-if="item">
        <div class="news_item">
            <div 
            class="news_brief_img" 
            :style="get_bg({'backgroundImage': `url(${item.sliders[0]})`})"
            >
            </div>
            <div class="news_brief">
              <div class="news_brief_title" v-html="item.title">
              </div>
              <div class="news_brief_text">
                {{ item.brief }}
              </div>
              <div class="time_tag">
                <div class="time_icon"></div>
                <div class="time_text">
                  {{ item.create_time.split(' ')[0] }}
                </div>
              </div>
            </div>
        </div>
      </router-link>
      <!-- {{ news }} -->
      <div class="flex_center">
        <template v-if="more">
          <div class="load_btn" @click="load_next" v-if="!on_load">
            查看更多
          </div>
          <div class="load_btn" v-if="on_load">
            正在加载
          </div>
        </template>
        <div class="no_data" v-if="!more">
            没有更多了
        </div>
      </div>
      
    </div>

  </div>
</template>
<script>
export default {
  data () {
    return {}
  },
  computed: {
    news () {
      let news_list = JSON.parse( JSON.stringify(this.$store.state.news.news_list) );
      return news_list;
    },
    page () {
      return this.$store.state.news.page;
    },
    limit () {
      return this.$store.state.news.limit;
    },
    on_load () {
      return this.$store.state.news.on_load;
    },
    more () {
      return this.$store.state.news.more;
    }
  },
  async asyncData ({store}) {
    // await store.dispatch('LOAD_NEWS_LIST')
  },
  methods: {
    get_bg (params) {
      return params;
    },
    load_next () {
      this.$store.dispatch('load_next_page_news');
    }
  }
}
</script>