<style lang="stylus" scoped="">
.news_block_ct 
  background-color #fff
  padding-bottom 100px
.news_title
  font-size 42px
  line-height 1
  text-align center
  padding 80px 0px

.news_pane 
  padding 15px
  display flex
  box-shadow: 0px 17px 81px 0px rgba(75,75,75,0.14);
  justify-content: space-between;
  box-shadow 0px 17px 81px 0px rgba(75,75,75,0.14)
  .news_visible_pane
    display flex
    font-size 16px
    .news_text
      margin 15px 25px
      padding-right 25px
      margin-right 0px
      position relative
      .view_detail
        color #3B72F6
        display flex
        position absolute
        bottom 0px
        font-weight bold
        white-space nowrap
        .arrow
          margin-left 6px
      .news_item_title
        font-size 23px
        line-height 33px
      .news_item_text
        max-height 187px
        overflow-y hidden
        font-size 16px
        line-height 30px
        color #717188
    .news_img_ct
      width: 367px;
      min-width: 367px;
      height: 285px;
      background-color: #eee;
      background-position: center;
      background-size: cover;

  .news_brief_list
    padding-left 20px
    margin-top 15px
    position relative
    max-height 272px
    overflow-y scroll
    min-width 265px
    border-left 1px solid rgba(203,203,203,0.302)
    &::-webkit-scrollbar
      display: none
    ul
      text-indent 0px
      position relative
      height 100%
      list-style none
      li
        position relative
        padding-left 20px
        margin-bottom 28px
        padding-bottom 28px
        cursor pointer
        font-size 16px
        line-height 24px
        border-bottom 1px solid #eee
        box-sizing border-box
        max-width 250px
        min-width 250px
        color #333
        .circle_raius
          width 6px
          height 6px
          border-radius 10px
          background-color #333
          display block
          position absolute
          left 0px
          top 9px
        &:last-child
          border-bottom 0px
          margin-bottom 0px
          padding-bottom 0px
        &:hover, &.selected
          color blue
          a
            color blue
          .circle_raius
            background-color blue

@media (max-width: 800px)
  .news_pane
    flex-wrap wrap
    .news_visible_pane
      flex-wrap wrap
      width 100%
      .news_img_ct
        width 100%
        max-width initial
        min-width initial
      .news_text
        padding-bottom 32px
        margin 15px 0px 
.arrow
  display flex
  align-items center
  justify-content center
  position relative
  .arrow_line
    height 2px
    width 16px
    background-color #3B72F6
  .arrow_header
    width 6px
    height 6px
    border 2px solid rgba(0, 0, 0, 0)
    border-top 2px solid #3B72F6
    border-right 2px solid #3B72F6
    transform rotate(45deg)
    position relative
    left -12px

</style>
<template>
  <div class="news_block_ct">
    <div class="comm_width">
      <div class="news_title">
        新闻动态
      </div>

      <div class="news_pane">

        <div class="news_visible_pane" v-if="news.length">

          <div class="news_img_ct" :style="{'backgroundImage': `url(${news[select_index].sliders[0]})`}"></div>

          <div class="news_text">
            <h4 class="news_item_title" v-html="news[select_index].title">
            </h4>
            <div class="news_item_text">
              {{ news[select_index].brief }}
            </div>

            <router-link  title="区块链开发技术"  :to="{'name': 'news_item', params: {'news_id': select_item.id}}" target="_blank" class="view_detail">
              查看详情
              <i class="arrow">
                <div class="arrow_line"></div>
                <div class="arrow_header"></div>
              </i>
            </router-link>

          </div>
        </div>

        <div class="news_brief_list">
          <ul> 
            <template v-for="item, index in news">           
              <li  :class="{'selected': index == select_index}" @mouseover.stop="change_index(index)" @@click.stop="change_index(index)">
                <i class="circle_raius"></i>
                <p>
                  <a  :title="titles[index % 3]"  target="_blank"  v-html="item.title" :href="get_href(item)"></a>
                  <!-- <router-link :title="titles[index % 3]" :to="{'name': 'news_item', params: {'news_id': item.id}}" target="_blank"  v-html="item.title">
                  </router-link> -->
                </p>
              </li>
            </template>
          </ul>
        </div>

      </div>

    </div>
  </div>
</template>
<script>
export default {
  data () {
    return {
      select_index: 0,
      titles: [
         "区块链开发系统",
         "区块链开发公司",
         "区块链开发团队",
      ]
    }
  },
  computed: {
    news () {
      let news_list = JSON.parse( JSON.stringify(this.$store.state.news.news_list) );
      news_list = news_list.slice(0, 3)
      return news_list;
    },
    select_item () {
      return this.news[this.select_index];
    }
  },
  methods: {
    change_index (index) {
      this.select_index = index;
    },
    get_href (item) {
      return `https://www.shuyuchain.com/news_item/${item.id}`
    }
  }
}
</script>