<style scoped="">
.process_bg{
  background-color: #F5F6F8;
  padding-bottom: 80px;
}
.process_ct{
  /*height: 600px;*/
}
.process_ct img{
  display: block;
  width: 100%;
}
@media (max-width: 800px){
  .base_pane_title{
    padding-top: 40px;
  }
}
</style>
<template>
  <div class="process_bg">
    <div class="comm_width">
      <h3 class="base_pane_title">业务逻辑</h3>
      <div class="process_ct">
        <img :src="src">
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data () {
    return {}
  },

  props: {
    src: {
      type: String,
      default () {
        return '/dist/解决方案（区块链医疗）业务逻辑@2x.png'
      }
    }
  },

  computed: {
    topic_style () {
      return {
        'backgroundImage': `url(${this.src})`
      }
    }
  },

  methods: {

  }
}
</script>