<style scoped="">
.recent_news_ct{
  padding-top: 90px;
  padding-bottom: 36px;
}
.recent_news_ct .comm_width{
  overflow-x: hidden;
}
.recent_new_title{
  font-size: 36px;
  line-height: 1;
  color: #353556;
  text-align: center;
  padding-bottom: 75px;
}
.recent_news_list{
  width: 1200px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.recent_news_list li{
  list-style: none;
  float: left;
  width: 346px;
  margin-right: 30px;
  padding-bottom: 80px;
}
.recent_news_pic{
  height: 238px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #eee;
}
.recent_news_pic img{
  display: block;
  height: 100%;
}
.recent_new_item_tag{
  color: #717188;
  font-size: 16px;
  line-height: 1;
  padding-top: 26px;
  padding-bottom: 12px;
}
.recent_new_item_title{
  color: #353556;
  font-size: 24px;
  line-height: 36px;
}
.rencent_news_item:hover .recent_new_item_title{
  color: #4856a5;
}

@media (max-width: 800px) {
  .recent_news_ct{
    padding-top: 0px;
  }
  .recent_new_title{
    font-size: 20px;
    padding-bottom: 30px;
  }
  .recent_news_list{
    width: auto;
  }
  .recent_news_list li{
    list-style: none;
    float: none; 
    width: 50%;
    padding: 10px;
    overflow: hidden;
    margin: 0px;
    box-sizing: border-box;
  }
  .recent_news_pic{
    height: 140px;
  }
  .recent_new_item_tag{
    font-size: 14px;
    padding-top: 10px;
  }
  .recent_new_item_title{
    font-size: 14px;
    line-height: 19px;
  }
}

</style>
<template>
  <div class="recent_news_ct">
    <div class="comm_width">

      <h2 class="recent_new_title">
        {{ lang.data['Latest News'] }}
      </h2>

      <ul class="recent_news_list">

        <li class="rencent_news_item">
          <a target="_blank" href="https://eosforce.gitbook.io/eosforce/zui-xin-zi-xun/eosc-zhu-wang-zui-xin-zi-xun/quan-qiu-zhi-ming-qu-kuai-lian-kai-fa-tuan-dui-eos-yuan-li-xuan-bu-jing-xuan-coinex-zhu-wang-jie-dia">
          <div class="recent_news_pic">
            <img src="https://shuyuchain.com/media_1.png">
          </div>
          <div class="recent_new_item_tag">媒体报道</div>
          <div class="recent_new_item_title">全球知名区块链开发团队EOS原力宣布竞选CoinEx主网节点 </div>
          </a>
        </li>

        <li class="rencent_news_item">
          <a target="_blank" href="https://mp.weixin.qq.com/s/fRg2pwwgkp_85ETJ6m5Liw">
            <div class="recent_news_pic">
              <img src="https://shuyuchain.com/media_2.png">
            </div>
            <div class="recent_new_item_tag">主网提案</div>
            <div class="recent_new_item_title">EOSC 社区第一届预算委员会(EDBS-1)第一次会议</div>
          </a>
        </li>

        <li class="rencent_news_item">
          <a target="_blank" href="https://mp.weixin.qq.com/s/7AVOxRPMRfSbGOEYCfU1PA">
            <div class="recent_news_pic">
              <img src="https://shuyuchain.com/media_3.png">
            </div>
            <div class="recent_new_item_tag">社区动态</div>
            <div class="recent_new_item_title">未激活账户余额冻结操作已全部完成，FIP#11正式生效</div>
          </a>
        </li>



        <li class="rencent_news_item">
          <a target="_blank" href="https://mp.weixin.qq.com/s/p1hUnAEKu_TfYu43hYzJTg">
            <div class="recent_news_pic">
              <img src="https://shuyuchain.com/media_4.png">
            </div>
            <div class="recent_new_item_tag">媒体报道</div>
            <div class="recent_new_item_title">孤矢：Libra，DCEP格局之争—从货币主权到数据主权的全面竞争</div>
          </a>
        </li>

        <li class="rencent_news_item" v-if='lang.now_lang == "cn"'>
          <a target="_blank" href="https://mp.weixin.qq.com/s/itnb6lqwftkE1oFW5TyHkQ">
            <div class="recent_news_pic">
              <img src="https://shuyuchain.com/media_5.png">
            </div>
            <div class="recent_new_item_tag">媒体报道</div>
            <div class="recent_new_item_title">EOSWriter专访 | EOSC的定位、进展与未来</div>
          </a>
        </li>

        <li class="rencent_news_item" v-if='lang.now_lang != "cn"'>
          <a target="_blank" href="https://www.eoswriter.io/161455_heidiasks05.eos">
            <div class="recent_news_pic">
              <img src="https://shuyuchain.com/media_5.png">
            </div>
            <div class="recent_new_item_tag">媒体报道</div>
            <div class="recent_new_item_title">Heidi Asks – EOSForce Founder Cyborg</div>
          </a>
        </li>
        <!-- Heidi Asks – EOSForce Founder Cyborg -->

        <li class="rencent_news_item">
          <a target="_blank" href="https://mp.weixin.qq.com/s/PcUwdWm5ktQtTnkDQS302w">
            <div class="recent_news_pic">
              <img src="https://shuyuchain.com/media_6.png">
            </div>
            <div class="recent_new_item_tag">媒体报道</div>
            <div class="recent_new_item_title">链茶馆专访 | EOSC孤矢：公链需要基于DPoS共识的高性能低延时计算</div>
          </a>
        </li>

      </ul>

    </div>
  </div>
</template>
<script>
import { lang, set_lang } from '@/data/langs/index.js'
export default {
  data () {
    return {
      lang
    }
  },
  methods: {

  }
}
</script>