<template>
  <div>
    <header_nav></header_nav>
    <news_list></news_list>
    <foot></foot>
  </div>
</template>
<script>
require('../assets/index.css');
import header_nav from '../modules/header.vue'
import foot from '../modules/foot.vue'
import news_list from '../modules/news_list.vue'

export default {
  data () {
    return {
      description: ''
    }
  },
  async asyncData ({store}) {
    await store.dispatch('load_first_page_news');
  },
  mounted () {

  },
  beforeCreate () {
    
  },
  methods: {

  },
  components: {
    header_nav,
    news_list,
    foot
  }
}
</script>