<template>
  <div>
    <header_nav v-bind:with_nav="false"></header_nav>
    <wallet_list></wallet_list>
    <site_map></site_map>
  </div>
</template>
<script>
require('../assets/index.css');
import header_nav from '../modules/header.vue'
import site_map from '../modules/site_map.vue'
import wallet_list from '../modules/wallet_list.vue'
export default {
  data () {
    return {

    }
  },
  methods: {

  },
  components: {
    header_nav,
    site_map,
    wallet_list
  }
}
</script>