<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="keywords" content="区块链开发,联盟链开发,数与科技,区块链开发技术,区块链开发公司,区块链开发平台,区块链开发系统,区块链开发项目，区块链开发团队，区块链技术开发" charset="utf-8">
    <meta name="description" content="区块链开发与联盟链开发科技公司，数与科技提供区块链开发、联盟链开发等区块链技术，提供区块链溯源、区块链证书存证、区块链资产流转、区块链可信协同等一站式区块链开发解决方案，和可定制的区块链开发服务平台、产业联盟链开发综合平台等服务。" charset="utf-8">
  </head>
  <body>
  <!--vue-ssr-outlet-->
  </body>
</html>
